h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

#h3 {
  margin-top: 20px;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 4px;
}

h5 {
  margin-bottom: 5px;
}

#mainCountainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#boxcontainer a {
  color: blue;
  text-decoration: underline;
}

#boxcontainer a:visited {
  color: purple;
}

#pageContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#usedForSpacing {
  display: none;
  width: 400px;
}

#boxcontainer {
  background-color: lightgrey;
  border-radius: 50px;
  box-shadow: 4px 4px 14px 2px black;
  display: flex;
  font-size: 16px;
  height: auto;
  padding: 50px;
  width: 500px;
}

#focusAreaContainer1 {
  margin-top: -20px;
}

#focusAreaContainer1,
#focusAreaContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#btnGetData {
  margin-left: 400px;
}

#results {
  display: none;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  width: 500px;
}

#backBtn {
  height: 35px;
  margin-top: 70px;
  margin-left: 400px;
  width: 80px;
}

#resultsContainer {
  display: flex;
  inline-size: 500px;
  justify-content: center;
  margin-top: 20px;
  word-break: break-all;
}

#displayData {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#data {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px;
}

#documentTypeHeader {
  font-weight: 100;
  margin-bottom: 4px;
}

#websiteContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  inline-size: 500px;
  justify-content: space-around;
  margin-top: 100px;
  visibility: hidden;
  word-break: normal;
}

#websites {
  display: flex;
  flex-direction: column;
  margin-top: -25px;
}

#webURL {
  padding: 5px 0;
}

button:hover {
  background-color: lightslategrey;
}

button {
  border: 3px outset black;
  border-radius: 10px;
  font-weight: bolder;
  padding: 5px 10px;
}

#loading {
  animation: blinker 1s linear infinite;
  margin: 0px auto 0 auto;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/******************** multi select checkbox dropdowns ****************************/

.documentTypeMultiselect,
.buildingTypesMultiselect,
.BuildingSystemsMultiselect,
.PopularSubjectsMultiselect {
  /* .buildingTypologyMultiselect,
.documentTypeMultiselect,
.buildingEnvelopeMultiselect,
.HeatingCoolingMultiselect,
.MechanicalElectricalMultiselect,
.DesignProcessMultiselect { */
  width: 200px;
}

#documentTypeSelectBox,
#buildingTypesSelectBox,
#BuildingSystemsSelectBox,
#PopularSubjectsSelectBox {
  /* #buildingTypologySelectBox,
#documentTypeSelectBox,
#buildingEnvelopeSelectBox,
#HeatingCoolingSelectBox,
#MechanicalElectricalSelectBox,
#DesignProcessSelectBox { */
  position: relative;
}

#documentTypeSelectBox select,
#buildingTypesSelectBox select,
#BuildingSystemsSelectBox select,
#PopularSubjectsSelectBox select {
  /* #buildingTypologySelectBox select,
#documentTypeSelectBox select,
#buildingEnvelopeSelectBox select,
#HeatingCoolingSelectBox select,
#MechanicalElectricalSelectBox select,
#DesignProcessSelectBox select { */
  width: 100%;
}

#documentTypeSelectBox:hover select,
#buildingTypesSelectBox:hover select,
#BuildingSystemsSelectBox:hover select,
#PopularSubjectsSelectBox:hover select {
  /* #buildingTypologySelectBox:hover select,
#documentTypeSelectBox:hover select,
#buildingEnvelopeSelectBox:hover select,
#HeatingCoolingSelectBox:hover select,
#MechanicalElectricalSelectBox:hover select,
#DesignProcessSelectBox:hover select { */
  background-color: whitesmoke;
}

.documentTypeOverSelect,
.buildingTypesOverSelect,
.BuildingSystemsOverSelect,
.PopularSubjectsOverSelect {
  /* .buildingTypologyOverSelect,
.documentTypeOverSelect,
.buildingEnvelopeOverSelect,
.HeatingCoolingOverSelect,
.MechanicalElectricalOverSelect,
.DesignProcessOverSelect { */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#documentTypeCheckboxes,
#buildingTypesCheckboxes,
#BuildingSystemsCheckboxes,
#PopularSubjectsCheckboxes {
  /* #buildingTypologycheckboxes,
#documentTypeCheckboxes,
#buildingEnvelopecheckboxes,
#HeatingCoolingcheckboxes,
#MechanicalElectricalcheckboxes,
#DesignProcesscheckboxes { */
  background-color: lightgray;
  border: 1px solid #dadada;
  box-shadow: 2px 2px 4px black;
  display: none;
  padding: 5px;
  position: absolute;
  z-index: 5;
}

#documentTypeCheckboxes label,
#buildingTypesCheckboxes label,
#BuildingSystemsCheckboxes label,
#PopularSubjectsCheckboxes label {
  /* #buildingTypologycheckboxes label,
#documentTypeCheckboxes label,
#buildingEnvelopecheckboxes label,
#HeatingCoolingcheckboxes label,
#MechanicalElectricalcheckboxes label,
#DesignProcesscheckboxes label { */
  display: block;
}

#documentTypeCheckboxes label:hover,
#buildingTypesCheckboxes label:hover,
#BuildingSystemsCheckboxes label:hover,
#PopularSubjectsCheckboxes label:hover {
  /* #buildingTypologycheckboxes label:hover,
#documentTypeCheckboxes label:hover,
#buildingEnvelopecheckboxes label:hover,
#HeatingCoolingcheckboxes label:hover,
#MechanicalElectricalcheckboxes label:hover,
#DesignProcesscheckboxes label:hover { */
  background-color: #1e90ff;
}
