body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: gray;
}

#btnGetData {
  margin-left: 400px;
  padding: 5px 10px;
}

#getDataForm {
  height: 550px;
  width: 500px;
  padding: 50px;
  background-color: lightgray;
  border-radius: 12%;
  box-shadow: 4px 4px 14px 2px black;
}

#container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  /* margin-bottom: 200px; */
  display: none;
}

#dataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-right: 200px;
}

#websiteContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 300px; */
  background-color: lightgray;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid black;
}

#displayData,
#displayData2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px;
  /* border: 1px solid black; */
  border-radius: 12px;
  margin-bottom: 40px;
}

#data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  color: black;
  font-weight: 900;
  border: 1px solid black;
  /* margin: 50px 2px; */
}

a#data {
  text-decoration: none;
}

#data:nth-child(even) {
  background-color: #36c;
  /* background-color: lightsteelblue; */
}

#data:nth-child(odd) {
  background-color: lightgray;
  /* background-color: lightsteelblue; */
  /* background-color: #9c0; */
}

#websites {
  /* margin-top: 100px; */
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 400px; */
}

#webURL {
  padding: 2px 0;
}
/******************** multi select checkbox dropdowns ****************************/

.multiselect {
  width: 200px;
}

#btSelectBox {
  position: relative;
}

#btSelectBox select {
  width: 100%;
  /* font-weight: bold; */
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  position: absolute;
  padding: 5px;
  border: 1px solid #dadada;
  background-color: lightgray;
  box-shadow: 2px 2px 4px black;
  z-index: 5;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

/* background-color: #36c;
background-color: #9c0; */

/*
select {
  background-color: white;

  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-bottom-color: red;
}

 #checkbox2 {
  display: none;
  position: absolute;
  border: 1px #dadada solid;
  background-color: #1e90ff;
}

#checkbox2 label {
  display: block;
}

input {
  border: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked {
  display: inline;
} */

/* ---------------------------------------------- */
