/* ************************************************** Headers ********************************************************** */

h2 {
  font-weight: 900;
}

#h3 {
  margin-top: 20px;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 4px;
}

/* *********************************************** Background containers ********************************************** */

#mainContentContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: auto;
  margin-top: -50px;
  min-width: 500px;
  padding: 50px;
}

#mainContentContainer a {
  color: blue;
  text-decoration: underline;
}

#mainContentContainer a:visited {
  color: purple;
}

#checkboxContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 850px;
}

#websiteContainer {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  inline-size: 500px;
  margin-top: 20px;
  padding: 20px;
  visibility: hidden;
  word-break: normal;
}

/* ***************************************************** Results page ********************************************************* */

#results {
  align-items: center;
  display: none;
  flex-direction: column;
}


#displayData {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60vw;
}

#displayData div {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

#documentTypeHeader {
  font-size: x-large;
  font-weight: 900;
  margin-bottom: 4px;
}

#data {
  inline-size: 500px;
  padding: 5px 0 5px 0;
  word-break: break-all;
}

#websites {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
}

#webURL {
  padding: 5px 0;
}

/* ************************************************* Buttons and Check boxes************************************************* */

button {
  border: 3px outset black;
  border-radius: 10px;
  font-weight: bolder;
  padding: 5px 10px;
}

button:hover {
  background-color: lightslategrey;
}

#backBtn {
  margin: 20px 0 0 450px;
  width: 80px;
}

#buildingTypesCheckboxes,
#BuildingSystemsCheckboxes,
#PopularSubjectsCheckboxes {
  display: flex;
  flex-direction: column;
}

#btnGetData {
  margin: 40px 0 0 300px;
  padding: 5px 80px 5px 80px;
}

#buildingTypesCheckboxes label:hover,
#BuildingSystemsCheckboxes label:hover,
#PopularSubjectsCheckboxes label:hover {
  background-color: #1e90ff;
}

/* ************************************************************ Loading element ***************************************** */

#loading {
  animation: blinker 1s linear infinite;
  margin: 0px auto 0 auto;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


/* *********************************************************** For small screens **************************************** */

@media only screen and (max-width: 1800px) and (min-width: 821px) {
  #results h2 {
    margin-left: -12vw;
  }

  #displayData {
    width: 85vw;
  }

  #data {
    inline-size: 400px;
  }

  #websiteContainer {
    inline-size: 700px;
  }

}

/* ************************************************************** For Mobile **************************************** */


@media only screen and (max-width: 820px) {
  #mainContentContainer {
    min-width: 200px;
    font-size: x-small;
  }

  #checkboxContainer {
    flex-direction: column;
    width: 200px;
  }

  #websiteContainer {
    inline-size: 75vw;
    max-width: 75vw;
  }

  #results {
    max-width: 90vw;
  }

  #displayData {
    grid-template-columns: 1fr;
    inline-size: 80vw;
  }

  #btnGetData {
    margin: 40px 0 0 0px;
  }

  #backBtn {
    margin: 20px 0 0 70vw;
  }
}
