html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

h1 {
  color: #000;
}

#h3 {
  margin-top: 20px;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 4px;
}

h5 {
  margin-bottom: 5px;
}

#mainCountainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

#addProjectForm {
  display: none;
  flex-direction: column;
  align-items: center;
}

#deleteForm {
  display: none;
  flex-direction: column;
  align-items: center;
}

.deleteFileContainer {
  display: flex;
}

#deleteFileContainer .deleteBtn {
  margin-left: 8px;
  padding: 3px;
  height: 30px;
  border-radius: 0px;
}

#filestoBeDeleted {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

#filestoBeDeleted .datacontent {
  margin: 8px 0 8px 0;
}

#projects {
  width: 100px;
}

.addFile {
  margin-top: 0;
  font-size: smaller;
  color: red;
}

#btnUpload {
  /* margin-left: 400px; */
}

#progress1,
#progress2 {
  margin: 0 180px;
}

#progress2 {
  display: none;
}

.buttonContainer,
.addProjectbuttonContainer,
.deletebuttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.addProjectbuttonContainer,
.deletebuttonContainer {
  width: 500px;
}

#deleteProjects:hover {
  background-color: whitesmoke;
}

#boxcontainer {
  height: auto;
  min-width: 500px;
  padding: 50px;
  font-size: 16px;
  background-color: lightgray;
  border-radius: 50px;
  box-shadow: 4px 4px 14px 2px black;
}

#mainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menuBtn {
  margin: 5px;
}

#uploadForm {
  display: none;
}

#focusAreaContainer1 {
  margin-top: -20px;
}

#focusAreaContainer1,
#focusAreaContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button:hover {
  background-color: lightslategrey;
}

button {
  border: 3px outset black;
  font-weight: bolder;
  padding: 5px 15px;
  border-radius: 10px;
}

#confirmPage {
  display: none;
  flex-direction: column;
  align-items: center;
}

#confirmData {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 500px;
  word-break: normal;
}

#confirmButtonContainer {
  display: flex;
  margin-left: 400px;
}

.confirmBtn {
  margin-right: 5px;
}

.dataHeader {
  margin-bottom: -15px;
  font-weight: bolder;
}

.datacontent {
  color: blue;
}

#loading {
  margin: 0 200px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#alertBackground {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#alertBox,
#confirmBox {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 125px;
  width: 450px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
}

.alertHeader {
  align-self: center;
  margin-bottom: 15px;
}

.alertContent {
  align-self: center;
  margin-bottom: 10px;
  font-size: small;
}

/******************** multi select checkbox dropdowns ****************************/

.buildingTypologyMultiselect,
.buildingEnvelopeMultiselect,
.HeatingCoolingMultiselect,
.MechanicalElectricalMultiselect,
.DesignProcessMultiselect {
  width: 200px;
}

#buildingTypologySelectBox,
#buildingEnvelopeSelectBox,
#HeatingCoolingSelectBox,
#MechanicalElectricalSelectBox,
#DesignProcessSelectBox {
  position: relative;
}

#buildingTypologySelectBox select,
#buildingEnvelopeSelectBox select,
#HeatingCoolingSelectBox select,
#MechanicalElectricalSelectBox select,
#DesignProcessSelectBox select {
  width: 100%;
  /* font-weight: bold; */
}

#buildingTypologySelectBox:hover select,
#buildingEnvelopeSelectBox:hover select,
#HeatingCoolingSelectBox:hover select,
#MechanicalElectricalSelectBox:hover select,
#DesignProcessSelectBox:hover select {
  background-color: whitesmoke;
}

.buildingTypologyOverSelect,
.buildingEnvelopeOverSelect,
.HeatingCoolingOverSelect,
.MechanicalElectricalOverSelect,
.DesignProcessOverSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#buildingTypologycheckboxes,
#buildingEnvelopecheckboxes,
#HeatingCoolingcheckboxes,
#MechanicalElectricalcheckboxes,
#DesignProcesscheckboxes {
  display: none;
  position: absolute;
  padding: 5px;
  border: 1px solid #dadada;
  background-color: lightgray;
  box-shadow: 2px 2px 4px black;
  z-index: 5;
}

#buildingTypologycheckboxes label,
#buildingEnvelopecheckboxes label,
#HeatingCoolingcheckboxes label,
#MechanicalElectricalcheckboxes label,
#DesignProcesscheckboxes label {
  display: block;
}

#buildingTypologycheckboxes label:hover,
#buildingEnvelopecheckboxes label:hover,
#HeatingCoolingcheckboxes label:hover,
#MechanicalElectricalcheckboxes label:hover,
#DesignProcesscheckboxes label:hover {
  background-color: #1e90ff;
}

/* background-color: #36c;
background-color: #9c0; */

/*
select {
  background-color: white;

  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-bottom-color: red;
}

 #checkbox2 {
  display: none;
  position: absolute;
  border: 1px #dadada solid;
  background-color: #1e90ff;
}

#checkbox2 label {
  display: block;
}

input {
  border: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked {
  display: inline;
} */

/* ---------------------------------------------- */
