/* **************************************************** Headers ************************************************************ */
h1 {
  font-weight: 900;
  color: #817979;
}

#h3 {
  margin-top: 20px;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 4px;
}

h4 {
  margin: 0 0 -15px 0;
}

/* ***************************************** Main Menu and Background containers ******************************************** */

#mainCountainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#mainContentContainer a {
  text-decoration: underline;
}

#boxcontainer {
  background-color: lightgray;
  border-radius: 50px;
  box-shadow: 2px 4px 8px 2px black;
  font-size: 16px;
  height: auto;
  min-width: 550px;
  padding: 50px;
}

#mainMenu {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#addProjectForm {
  align-items: center;
  display: none;
  flex-direction: column;
}

#uploadForm {
  display: none;
}

#deleteForm {
  align-items: flex-start;
  display: none;
  flex-direction: column;
}

/* ******************************************************* Upload Form ********************************************************* */

#projects {
  width: 100px;
}

.addFile {
  margin-top: 0;
  margin-bottom: 40px;
  color: red;
  font-size: smaller;
}

#progress1,
#progress2 {
  margin: 0 180px;
}

#progress2 {
  display: none;
}

/* ************************ Loading element ************************** */

#loading {
  animation: blinker 1s linear infinite;
  margin: 0 200px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* *************************************************** File Confirmation Page ************************************************ */

#confirmPage {
  align-items: center;
  display: none;
  flex-direction: column;
}

#confirmData {
  align-items: center;
  display: flex;
  flex-direction: column;
  inline-size: 500px;
  word-break: normal;
}

.dataHeader {
  margin-bottom: -15px;
  font-weight: bolder;
}

.datacontent {
  color: blue;
}

/* ****************************************************** Delete Form ****************************************************** */

.deleteFileContainer {
  display: flex;
  margin-bottom: 5px;
}

#filestoBeDeleted {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

#filestoBeDeleted .datacontent {
  margin: 8px 0 8px 0;
}

/* ************************************************** Button Containers **************************************************** */

.buttonContainer,
.addProjectbuttonContainer,
.deletebuttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.addProjectbuttonContainer,
.deletebuttonContainer {
  width: 550px;
}

#confirmButtonContainer {
  display: flex;
  margin-left: 400px;
}

/* ********************************************************** Buttons ***************************************************** */

button {
  border: 3px outset black;
  border-radius: 10px;
  font-weight: bolder;
  padding: 5px 15px;
}

button:hover {
  background-color: lightslategrey;
}

.menuBtn {
  margin: 5px;
}

.deleteBtn {
  border: 2px outset black;
  border-radius: 10px;
  color: red;
  font-weight: bold;
  margin-left: 8px;
  padding: 0px 15px;
}

.confirmBtn {
  margin-right: 5px;
}

/* ******************************************** Custom Alert and Confirm popups **************************************** */

#alertBox,
#confirmBox {
  align-items: flex-end;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  min-width: 450px;
  padding: 10px;
}

#alertBackground {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
}

.alertHeader {
  align-self: center;
  margin-bottom: 15px;
}

.alertContent {
  align-self: center;
  font-size: small;
  margin-bottom: 10px;
}

/* *****************************************************  Dropdown Hover ********************************************** */

#projects:hover,
#buildingTypes:hover,
#documentType:hover,
#deleteFileFromProject:hover,
#deleteProjects:hover {
  background-color: whitesmoke;
}

/* ******************************************************* CheckBoxes ************************************************** */

#checkboxContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#BuildingSystemsCheckboxes,
#PopularSubjectsCheckboxes {
  display: flex;
  flex-direction: column;
}